/*   font-family: 'Playfair Display', serif;

    font-family: 'Poppins', sans-serif;*/

body {
  background-color: white;
}
h1 {
  color: black;

  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
p {
  font-family: "Playfair Display", serif;
  font-weight: normal;
}
.hero {
  background-color: f9f7ke;
  text-align: center;
}
